[submodule "Libraries/TinyObjLoader"]
	path = Libraries/TinyObjLoader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "Libraries/OpenCollada"]
	path = Libraries/OpenCollada
	url = https://github.com/bradc6/OpenCOLLADA.git
[submodule "Libraries/glslang"]
	path = Libraries/glslang
	url = https://github.com/bradc6/glslang.git
